{% extends "layout.html" %}
{% block content %}

<h1 class="major">Edit Part</h1>
<div class="">
    <div class="row gtr-uniform">
        <div class="col-12">
            <form method="POST" action="">
                {{form.hidden_tag()}}

                <table>
                    <thead>
                        <th>Field</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{form.partName.label}}</td>
                            <td>{{form.partName(value=item["name"])}}</td>
                        </tr>
                        <tr>
                            <td>{{form.partNickname.label}}</td>
                            <td>{{form.partNickname(value=item["nickname"])}}</td>
                        </tr>
                        <tr>
                            <td>{{form.partType.label}}</td>
                            <td>{{form.partType(value=item["partType"])}}</td>
                        </tr>
                        <tr>
                            <td>{{form.unit.label}}</td>
                            <td>{{form.unit(value=item["unit"], disabled=True)}}</td>
                        </tr>
                        <tr>
                            <td>{{form.description.label}}</td>
                            <td>{{form.description(value=item["description"])}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{form.partMfg.label}}</td>
                            <td>{{form.partMfg(value=item["partMfg"])}}</td>
                        </tr>
                        <tr>
                            <td>{{form.partno.label}}</td>
                            <td>{{form.partno(value=item["partNo"])}}</td>
                        </tr>
                        <tr>
                            <td>{{form.quantity.label}}</td>
                            <td>{{form.quantity(value=item["quantity"])}}</td>
                        </tr>
                        <tr>
                            <td>{{form.serialno.label}}</td>
                            <td>{{form.serialno(value=item["serial"])}}</td>
                        </tr>
                        <tr>
                            <td>{{form.multi_serial.label}}</td>
                            <td>{{form.multi_serial(value=item["multi_serial"], disabled=True)}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{form.location.label}}</td>
                            <td>
                                <select id="location" name="location" required="">
                                    {% for each in opt1 %}
                                    {% if each[0] == item["location"][2:3] %}
                                    <option value="{{each[0]}}" selected>{{each[1]}}</option>
                                    {% else %}
                                    <option value="{{each[0]}}">{{each[1]}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>{{form.locationWall.label}}</td>
                            <td>
                                <select id="locationWall" name="locationWall" required="">
                                    {% for each in opt2 %}
                                    {% if each[0] == item["location"][3:4] %}
                                    <option value="{{each[0]}}" selected>{{each[1]}}</option>
                                    {% else %}
                                    <option value="{{each[0]}}">{{each[1]}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>{{form.obj.label}}</td>
                            <td>
                                <select id="obj" name="obj" required="">
                                    {% for each in opt3 %}
                                    {% if each[0] == item["location"][0:1] %}
                                    <option value="{{each[0]}}" selected>{{each[1]}}</option>
                                    {% else %}
                                    <option value="{{each[0]}}">{{each[1]}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>{{form.shelfNum.label}}</td>
                            <td>{{form.shelfNum(value=item["location"][4:5])}}</td>
                        </tr>
                        <tr>
                            <td>{{form.shelfLevel.label}}</td>
                            <td>{{form.shelfLevel(value=item["location"][5:6])}}</td>
                        </tr>
                        <tr>
                            <td>{{form.quadrant.label}}</td>
                            <td>{{form.quadrant(value=item["location"][6:7])}}</td>
                        </tr>
                    </tbody>
                </table>
                {{form.submit}}
            </form>
        </div>

    </div>
</div>

{% endblock %}