{% extends "layout.html" %}
{% block content %}

<section>
    <a href="/"><h1 class="major">Dashboard</h1></a>
    <div class="row gtr-uniform">
        <div class="col-12">
            <ul class="menu">
                <li><a class="button" href="/inventory">View Inventory</a></li>
                <li><a class="button" href="/location">View Locations</a></li>
                <li><a class="button" href="/add">Add Item</a></li>
            </ul>
        </div>
    </div>
</section>

<p></p>

<section>
    <div class="features">
        <section>
            <span>N/A</span>
            <h3>Inventory Index</h3>
        </section>
        <section>
            <span>N/A</span>
            <h3>Unsorted Items</h3>
        </section>
    </div>
</section>
<p></p>

{% endblock %}