{% extends "layout.html" %}
{% block content %}

    
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
                <th>#</th>
                <th>Name</th>
                <th>Number</th>
                <th>Edit</th>
        </tr>
        </thead>
</table>

<div class="features">
    <section>
        <span>200</span>
        <h3>Inventory Count</h3>									
    </section>
    <section>
        <span>200</span>
        <h3>Inventory Count</h3>									
    </section>
</div>
<p></p>

{% endblock %}