{% extends "layout.html" %}
{% block content %}
<section id="main" class="wrapper">
    <div class="inner">

<table id="test class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Screw</td>
                <td>#5 screw</td>
                <td>7</td>
            </tr>
        </tbody>
</table>
</div>
</section>

<script>

$(document).ready(function() {
    $('#test').DataTable();
} );
$().DataTable();
</script>
{% endblock %}