{% extends "layout.html" %}
{% block content %}

<h1 class="major">Part #{{result["part"]}}</h1>

<section>
    <h2>{{result["name"]}}</h2>
    <i>
        <h3>{{result["nickname"]}}</h3>
    </i>
    <p>{{result["description"]}}</p>
    <p>Location - {{each}}</p>

    <hr>

    <section>
        <h2 class="">Options</h2>
        <form method="POST" action="">
            {{delForm.hidden_tag()}}
            <ul class="actions">
                <li><a class="button">Locate</a></li>
                <li><a href="/edit/{{result["part"]}}" class="button">Edit</a></li>
                <li>{{delForm.delete}}</li>
            </ul>
        </form>

    </section>

    <section>
        <h2>Raw Data</h2>
        <table>
            <thead>
                <th>Field</th>
                <th>Value</th>
            </thead>
            <tbody>
                {% if result["multi-serial"] == True %}
                    {% for each in result %}
                        <tr>
                            <td>{{each}}</td>
                            <td>{{result[each]}}</td>
                        </tr>
                    {% endfor %}

                {% else %}
                    {% for each in result %}
                        <tr>
                            <td>{{each}}</td>
                            <td>{{result[each]}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </section>
    <hr>

</section>


{% endblock %}